.box {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: inline-block;
  width: 100px;
  height: 100px;
  background: lightgray;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}

.box span {
  display: inline-block;
  vertical-align: middle;
}

.box::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
}
